.shabbaskattahero {
  width: 100%;
  padding: 8vh 0;
  background: #ffffff;
}

.shabbaskattaheroContainer {
  padding: 0 8vw;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shabbaskattaheroLeft {
  width: 42vw;
}

.shabbaskattaheroTitle {
  font-family: "Rozha One", serif;
  font-size: 4vw;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

.shabbaskattaheroDescription {
  font-family: "Gotu", sans-serif;
  margin-top: 2vh;
  font-size: 1.5vw;
  line-height: 2.5vw;
  font-weight: 600;
  color: #111;
}

.shabbaskattaheroSubTitle {
  font-family: "Rozha One", serif;
  margin-top: 2vh;
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: 700;
}

.shabbaskattaheroButton {
  margin-top: 5vh;

  width: 12vw;
  height: 6vh;

  display: flex;
  justify-content: center;
  align-items: center;
 
  color: #fff;

  text-decoration: none;

  border-radius: 5vw;

  font-size: 1.2vw;
  font-family: "Gotu", sans-serif;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.shabbaskattaheroButton:hover {
  background: #0a2f59;
}

.shabbaskattaheroRight {
  width: 37vw;

  display: flex;
  justify-content: flex-end;
}

/* .shabbaskattaheroImage {
  width: 37vw;
  height: auto;
  display: block;
  object-fit: cover;

  border-top-right-radius: 6vw;
  border-bottom-left-radius: 6vw;
} */

.shabbaskattaheroImage {
  width: 40vw;
  height: 50vh;

  object-fit: cover;
  object-position: center;

  border-top-right-radius: 6vw;
  border-bottom-left-radius: 6vw;
}
