
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Gotu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    padding-top: 102px;

}

