
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

body {
  margin: 0;
  font-family: "Gotu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    padding-top: 102px;

}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
