/* ================= Footer ================= */

.footer {
  width: 100%;
  background: #023061;
  color: #ffffff;
  padding: 6vh 0 3vh;
  overflow: hidden;
}

.footerMain {
  padding: 0 8vw;
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3vw;
}

/* ================= Left ================= */

.footerLeft {
  width: 25vw;
}

.footerLeft h2 {
  font-family: "Rozha One", serif;
  font-size: 2.2vw;
  font-weight: 700;
  margin-bottom: 2vh;
}

.footerLeft p {
  font-family: "Gotu", sans-serif;
  font-size: 1.2vw;
  line-height: 2vw;
  color: #f2f2f2;
  margin-bottom: -2vh;
}

.contactDetails {
  margin-top: 4vh;
}

.contactDetails p {
  margin-bottom: 1.8vh;
}

.contactDetails a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.contactDetails a:hover {
  color: #f6c343;
}

/* ================= Center ================= */

.footerCenter {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footerLogo {
  width: 8vw;
  height: auto;
  margin-bottom: 2vh;
}

.footerCenter h1 {
  font-family: "Rozha One", serif;
  font-size: 2.8vw;
  font-weight: 700;
  margin-bottom: 1vh;
}

.footerCenter p {
  font-family: "Gotu", sans-serif;
  font-size: 1.2vw;
  line-height: 2vw;
  color: #ededed;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1.2vw;
  margin-top: 4vh;
}

.socialIcons a {
  text-decoration: none;
}

.icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 1.4vw;

  transition: 0.3s;
}

.icon:hover {
  transform: translateY(-0.3vh);
}

.whatsapp {
  background: #25d366;
}

.instagram {
  background: #e1306c;
}

.youtube {
  background: #ff0000;
}

.facebook {
  background: #1877f2;
}

/* ================= Right ================= */

.footerRight {
  width: 25vw;
}

.footerRight h2 {
  font-family: "Rozha One", serif;
  font-size: 2.2vw;
  font-weight: 700;
  margin-bottom: 2vh;
}

.footerRight ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerRight li {
  margin-bottom: 0.3vh;
}

.footerRight li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2vw;
  transition: 0.3s;
  font-family: "Gotu", sans-serif;
}

.footerRight li a:hover {
  color: #f6c343;
  padding-left: 0.4vw;
}

/* ================= Bottom ================= */

.footerBottom {
  padding: 0 8vw;
  margin: 0vh auto 0;
  padding-top: 3vh;

  border-top: 0.1vh solid rgba(255, 255, 255, 0.2);

  text-align: center;
}

.footerBottom p:first-child {
  font-family: "Gotu", sans-serif;
  font-size: 1vw;
  margin-bottom: 1vh;
}

.footerBottom p:last-child {
  font-family: "Gotu", sans-serif;
  font-size: 0.9vw;
  line-height: 1.8vw;
  color: #efefef;
}

.footerBottom a {
  color: #39a5ff;
  text-decoration: none;
}

.footerBottom a:hover {
  text-decoration: underline;
}
